@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}
div {
    position: relative;
    z-index: 2;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    height: 100vh;
}
.footer{
    width: 450px;
    text-align: center;
    display: block;
    margin: 30px auto 0px auto;
    font-size: 0.8em;
    color:white;
}
.footer h3{
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    color:white;
}
#quote-box {
    border-radius: 3px;
    position: relative;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 50px;
    display:block;
    background-color: white;
    }
  
.quote-text {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    padding: 20px 20px;
    width: 450px;
    height: auto;
    clear: both;
    box-sizing: border-box;
}
.quote-text i{
    font-size: 1em;
    margin-right: 0.4em;
}
.author{
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 2rem;
    text-align: right;
}
#buttons{
    width: 450px;
    margin: auto;
    display: block;
}
.button{
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
}
.button:hover{
    opacity: 0.9;
}
#tweet-quote, #new-quote{
    float: left;
    color: white;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
}
#new-quote{
    float: right;
}

/*fix stylesheet*/